- title 'Links'

.clear

%table.admin
  - if !@links.blank?
    %thead
      %tr
        %th= link_to 'Title', admin_links_path(:sort => params[:sort] == 'title' ? 'title_reverse' : 'title')
        %th= link_to 'Created At', admin_links_path(:sort => params[:sort] == 'created_at' ? 'created_at_reverse' : 'created_at')
        %th= link_to 'Updated At', admin_links_path(:sort => params[:sort] == 'updated_at' ? 'updated_at_reverse' : 'updated_at')
        %th= link_to 'Bookmarks', admin_links_path(:sort => params[:sort] == 'bookmarks' ? 'bookmarks_reverse' : 'bookmarks')
    %tfoot
      %tr
        %td{ :colspan => 4 }
          = will_paginate @links
    %tbody
    - for link in @links
      %tr
        %td{ :title => link.url }
          = h(truncate(link.title, :length => 60))
        %td= link.created_at.to_s(:short)
        %td= link.updated_at.to_s(:short)
        %td{ :align => "right" }
          = link.bookmarks
  - else
    %tr
      %td No links
