- title "All Links Reporting"

.clear

%h4 Quick Facts

%table.admin
  %tr
    %td Links with NULL bookmarks
    %td.r= @links_with_nil_bookmarks
  %tr
    %td Links without bookmarks
    %td.r= @links_without_bookmarks
  %tr
    %td Links with bookmarks:
    %td.r= @links_with_bookmarks
  %tr
    %td Links pending bookmark updates:
    %td.r= @links_pending_update
    
%h4 Link Distribution

%table.admin
  %thead
    %tr
      %th # bookmarks
      %th # Links with that many bookmarks
  %tbody
    - for distribution in @distributions do
      %tr
        %th= distribution[0]
        %td= distribution[1]