<%- title "Popular links for #{h(@tag.name)}" -%>
<%- content_for :head do -%>
<link rel="alternate" href="<%= tag_url(@tag, :format => 'atom') %>" type="application/atom+xml" title="Popular links for <%= @tag.name %>">
<link rel="alternate" href="<%= summary_tag_url(@tag, :format => 'atom') %>" type="application/atom+xml" title="Daily links for <%= @tag.name %>">
<%- end -%>

<div class="grid_12">
  <p>
    URLAgg is not tracking <%= h(@tag.name) %>.
  </p>
  <p>
    <%- if current_user -%>
      <%= link_to "Start tracking <strong>#{h(@tag)}</strong>".html_safe, 
                  taggings_path(:tag => {:name => @tag.name}), :method => :post, :class => 'action important' %> |
    <%- end -%>
    <%= link_to 'Go back to tags', tags_path, :class => 'action' %>
  </p>
</div>
<div class="clear">&nbsp;</div>
