<%- title 'URLAgg Admin login', true -%>

<div class="clear">&nbsp;</div>

<%= form_for @super_user_session, :url => admin_super_user_session_path do |f| %>
<div class="container_12">
  <div class="grid_4">
    <%= f.label :login %><br />
    <%= f.text_field :login %><br />
    <br />
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
    <br />
    <%= f.submit "Login" %>
  </div>
  <div class="grid_7">
    <%= f.error_messages %>
  </div>
  <div class="clear">&nbsp;</div>
</div>
<% end %>