<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= h(yield(:title) || 'URL Aggregator') + ' - URLAgg' %></title>
  <%= stylesheet_link_tag 'reset', :media => "all" %>
  <%= stylesheet_link_tag 'text', :media => "all" %>
  <%= stylesheet_link_tag '960', :media => "all" %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <%- if current_user -%>
    <link rel="alternate" href="<%= user_url(current_user, :format => 'atom') %>" type="application/atom+xml" title="Popular links for all tags tracked by <%= current_user.login %>">
    <link rel="alternate" href="<%= summary_user_url(current_user, :format => 'atom') %>" type="application/atom+xml" title="Daily summary of links for all tags tracked by <%= current_user.login %>">
  <%- end -%>
  <%= yield(:head) %>
  <%= javascript_include_tag 'application' %>
  <meta name="verify-v1" content="v6hD3WoosJkjABTuDeMwXEkZqnDDaSeyIL1SRXB+BiM=" >
</head>
<body id="<%= controller.action_name %>" class="<%= controller.controller_name %>">
  <div id="not_ft">
    <div id="hd">
      <div class="wrapper">
        <div class="container_12">
          <div class="grid_5">
            <h1>
              <%= link_to "URL<span>Agg</span>".html_safe, root_path %>
            </h1>
            <span>URL Aggregator</span>
          </div>
          <div id="navigation" class="grid_7 r">
            <%- if !current_user -%>
              <%= link_to "Register", new_account_path %> |
              <%= link_to "Log in", login_path %>
            <%- else -%>
              Logged in as <strong><%=h current_user.login %></strong> |
              <%= link_to "Log out", logout_path %> |
              <%= link_to "Tracked Tags", tags_path %>
            <% end -%> |
            <%= link_to "Top Tags", top_tags_path %> |
            <%= link_to "Contact Us", "/pages/contact" %> |
            <%= link_to "About", "/pages/about" %>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="clear">&nbsp;</div>
      <div class="bg_space"></div>
    </div><!-- #hd -->
    <div id="content">
      <div id="bd" class="container_12">
        <div class="grid_12">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, h(msg), :id => "flash_#{name}" %>
          <%- end -%>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="grid_6">
          <%- if show_title? -%>
            <h1><%=h yield(:title) %></h1>
          <%- end -%>
        </div>
        <%= yield %>
      </div>
    </div>
  </div><!-- #content -->
  <div id="ft">
    <div class="bg_space"></div>
    <div class="wrapper">
      <p class="center">
        &copy; <%= Time.now.year %>
        <%= link_to 'The Queue Incorporated', 'http://thequeue.net' %>
      </p>
    </div>
  </div><!-- #ft -->
  <%= render :partial => "shared/analytics" %>
  <%= render :partial => "shared/uservoice" %>
</body>
</html>
